@font-face {
  font-family: 'Century Gothic'; 
  src: url('../fonts/century_gothic.eot'); 
}  
//font-family: 'PT Sans', sans-serif;
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);
//font-family: 'Open Sans', sans-serif;
@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);
//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";

html {
  font-size: 80%;
}
.img-scale {
  width: 80%;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.container_theme {
  padding: 0 15px;
}


//
// Оглавление
// --------------------------------------------------
// 1.Header
// 2.Navbar
// 3.Icons
// 4.Slider
// 5.Заголовки



//
// 1.Header
// --------------------------------------------------
.header_wrap {
  background: url('../img/skin.png') repeat-x left bottom;
  color: #eaeaea;
  font-family: 'PT Sans', sans-serif;
  padding: 5px 0 10px;
}
.header_logo > img {
  max-height: 65px;
  .center-block();
}
.header_contact {
  text-align: center;
  >span {
    display: block;
  }
  .tel {
    font-size: 2.25rem; //36px
    font-family: 'Century Gothic', sans-serif;
  }
  .mode {
    font-size: 1.05rem; //17px
    vertical-align: top;
    line-height: 1.10rem;
  }
  .indicator {
    background: url('../img/csg-549baf48a8121.png') no-repeat top left;
    background-position: 0 -27px; width: 21px; height: 22px;
    display: inline-block;
    vertical-align: top;

    &.off {
      background-position: 0 0; width: 21px; height: 22px;
    }
  }
  .desc {
    font-size: 0.7rem; //11px
  }
}



//
// 2.Navbar
// --------------------------------------------------
.navbar-theme {
  background-color: @navbar-inverse-bg;
  border-color: @navbar-inverse-border;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;


  .navbar-brand {
    color: @navbar-inverse-brand-color;
    &:hover,
    &:focus {
      color: @navbar-inverse-brand-hover-color;
      background-color: @navbar-inverse-brand-hover-bg;
    }
  }

  .navbar-text {
    color: @navbar-inverse-color;
  }

  .navbar-nav {
    > li > a {
      color: @navbar-inverse-link-color;

      &:hover,
      &:focus {
        color: @navbar-inverse-link-hover-color;
        background-color: @navbar-inverse-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-inverse-link-active-color;
        background-color: @navbar-inverse-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-inverse-link-disabled-color;
        background-color: @navbar-inverse-link-disabled-bg;
      }
    }
  }

  // Darken the responsive nav toggle
  .navbar-toggle {
    border-color: @navbar-inverse-toggle-border-color;
    margin-right: 0;
    &:hover,
    &:focus {
      background-color: @navbar-inverse-toggle-hover-bg;
    }
    .icon-bar {
      background-color: @navbar-inverse-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: darken(@navbar-inverse-bg, 7%);
  }

  // Dropdowns
  .navbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: @navbar-inverse-link-active-bg;
        color: @navbar-inverse-link-active-color;
      }
    }

    @media (max-width: @grid-float-breakpoint-max) {
      // Dropdowns get custom display
      .open .dropdown-menu {
        > .dropdown-header {
          border-color: @navbar-inverse-border;
        }
        .divider {
          background-color: @navbar-inverse-border;
        }
        > li > a {
          color: @navbar-inverse-link-color;
          &:hover,
          &:focus {
            color: @navbar-inverse-link-hover-color;
            background-color: @navbar-inverse-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-inverse-link-active-color;
            background-color: @navbar-inverse-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-inverse-link-disabled-color;
            background-color: @navbar-inverse-link-disabled-bg;
          }
        }
      }
    }
  }

  .navbar-link {
    color: @navbar-inverse-link-color;
    &:hover {
      color: @navbar-inverse-link-hover-color;
    }
  }

  .btn-link {
    color: @navbar-inverse-link-color;
    &:hover,
    &:focus {
      color: @navbar-inverse-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: @navbar-inverse-link-disabled-color;
      }
    }
  }
  .open_order > a:before {
    display: inline-block;
    content: " ";
    background: url('../img/csg-549bd6db0acdc.png') no-repeat top left;
    background-position: 0 -415px; width: 28px; height: 28px; 
    vertical-align: middle;
  } 
}



//
// 3.Icons
// --------------------------------------------------
[class^="ico-"] {
  background: url('../img/csg-549bd6db0acdc.png') no-repeat top left;
}
.ico-book{ background-position: 0 0; width: 46px; height: 43px; } 
.ico-email{ background-position: 0 -48px; width: 13px; height: 11px; } 
.ico-eye{ background-position: 0 -64px; width: 24px; height: 13px; } 
.ico-folder{ background-position: 0 -82px; width: 46px; height: 37px; } 
.ico-graduate{ background-position: 0 -124px; width: 25px; height: 24px; } 
.ico-location{ background-position: 0 -153px; width: 14px; height: 18px; } 
.ico-medal{ background-position: 0 -176px; width: 46px; height: 42px; } 
.ico-pencil{ background-position: 0 -223px; width: 46px; height: 46px; } 
.ico-phone{ background-position: 0 -274px; width: 18px; height: 18px; } 
.ico-pin-map{ background-position: 0 -297px; width: 46px; height: 51px; } 
.ico-plus{ background-position: 0 -353px; width: 16px; height: 16px; } 
.ico-quotes{ background-position: 0 -374px; width: 46px; height: 36px; } 
.ico-shape{ background-position: 0 -415px; width: 28px; height: 28px; } 
.ico-small-tag{ background-position: 0 -448px; width: 12px; height: 12px; } 
.ico-tag{ background-position: 0 -465px; width: 50px; height: 50px; } 
.ico-time{ background-position: 0 -520px; width: 16px; height: 19px; } 
.ico-zoom{ background-position: 0 -544px; width: 46px; height: 47px; } 



//
// 4.Slider
// --------------------------------------------------
#carousel-example-generic {
  background: #eaeaea;
}
.slide-desc {
  padding: 1rem;
  
  .title {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.3rem;
  }
  .answer {
    margin-top: 0.8rem;
    font-size: 1rem;
    padding-left: 1.2rem;
    line-height: 1.2rem;
    li {
      margin-bottom: 0.4rem;
    }
  }
}
.carousel-control {
  width: 3rem;
  height: 3rem;
  left: auto;
  top: auto;
  color: #444444;

  &:hover,
  &:focus {
    color: #000;
  }

  .glyphicon-chevron-left,
  .glyphicon-chevron-right {
    margin-top: -0.75rem;
    font-size: 1.5rem;
  }


  &.left {
    background: rgba(255, 255, 255, 0.9);
    right: 3.57rem;
    bottom: 0.5rem;
  }

  &.right {
    background: rgba(255, 255, 255, 0.9);
    right: 0.5rem;
    bottom: 0.5rem;
  }

}



//
// 5.Заголовки
// --------------------------------------------------
h1,h2,h3,h4,h5,h6 {
  font-family: 'PT Sans', sans-serif;
}



//
// 6.Box
// --------------------------------------------------
.box {
  background: #f3f1ef;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  margin: 1rem 0;
  padding: 10px 0;
  
}
.box_content {
  padding: 0 15px;
}
[class^="list_mod_"] {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    position: relative;
    padding-left: 15px; 

    &:before {
      content: "::";
      position: absolute;
      left: 0;
      top: 0;
      font-size: 1.2rem;
      line-height: 1.2rem;
    }
  }
}
[class^="box_head_"] {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0 0 0 40px;
  position: relative;
  margin-bottom: 15px;

  &:before {
    position: absolute;
    display: block;
    content: " ";
    background: url('../img/csg-549bd6db0acdc.png') no-repeat top left;
    left: -14px;
    top: 0px;
  }
}
.box_head__book:before {
  background-position: 0 0; width: 46px; height: 43px;
}


@import "theme768up.less";
@import "theme992up.less";
@import "theme1200up.less";

/* Запросы для диапазонов */
@media (max-width: @screen-xs-max) {  }



@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {  }



@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {  }



@media (min-width: @screen-lg-min) { }