/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

html {
  font-size: 90%;
}
.img-scale {
  width: 100%;
}

.container_theme {
  width: 750px;
  margin: auto;
}



//
// Оглавление
// --------------------------------------------------
// 1.Header
// 2.Navbar
// 3.Slider



//
// 1.Header
// --------------------------------------------------
.header_wrap {
  height: 170px;
  padding-top: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.header_contact {
  float: right;
  text-align: left;
}
.header_logo > img {
  max-height: 100%;
}



//
// 2.Navbar
// --------------------------------------------------
.navbar {
  min-height: auto;
}
.navbar-theme {
  background: transparent;
  border-color: transparent;
  margin-top: -50px;
  margin-bottom: 15px;
  text-transform: uppercase;

  .container_theme {
    padding: 0;
  }
  .navbar-nav {
    width: 100%;

    > li > a {
      padding: 10px 13px;
      background-color: transparent;

      &:hover,
      &:focus {
        color: @navbar-inverse-link-hover-color;
        background-color: transparent;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-inverse-link-active-color;
        background-color: transparent;
      }
    }
    > .open_order {
      font-size: 1.1rem;
      float: right;
      > a {
        padding-top: 5px; 
      }
    }

  }
  .navbar-collapse {
    padding: 0;
  }
}



//
// 3.Slider
// --------------------------------------------------
.slide-img {
  width: 50%;
  float: left;
}
.slide-desc {
  width: 50%;
  float: left;
}


// End  
}